.login-form {
  max-width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.anticon {
    vertical-align: 2px;
}